@model IEnumerable<ProjectBusinessCustomer.Models.Customer>
@{
    ViewBag.Title = "Customers";
}

    <h2>les employées</h2>
<div class="container " style="width:1300px;">
    <div class="panel panel-primary">
        <div class="panel-heading">la liste des employées </div>
        <div class="panel-body ">
            <div>
                <form method="post" asp-action="Search">
                    <div class="form-group">    
                        <input type="text" name="keyword" id="myInput" placeholder="filtrer par mot clé.." class="form-control" />
                    </div>
                </form>
            </div>

            <table class="table table-hover table-condensed table-striped ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nom</th>
                        <th>Profil</th>
                        <th>Pays</th>
                        <th>Région</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Fax</th>
                        <th>Activité</th>
                        <th>Notes Importantes</th>
                        <th>Société</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @{
                        foreach (var c in Model)
                        {
                            <tr>
                                <td>@c.CustomerID</td>
                                <td>@c.CustomerName</td>
                                <td>@c.Profile</td>
                                <td>@c.Country</td>
                                <td>@c.Region</td>
                                <td>@c.Address</td>
                                <td>@c.Email</td>
                                <td>@c.Phone</td>
                                <td>@c.Fax</td>
                                <td>@c.Activity</td>
                                <td>@c.ImportantNotes</td>
                                <td>@c.Society.SocietyName</td>
                                <td>
                                    @Html.ActionLink("modifier", "Edit", new { CustomerID = c.CustomerID })|
                                    @Html.ActionLink("supprimer", "Delete", new { CustomerID = c.CustomerID }, new { onclick = "return confirm('Êtes-vous sûr que vous voulez supprimer ?');" })

                                </td>
                            </tr>
                        }
                    }


                </tbody>

            </table>


        </div>
        <div class="panel-footer">@Html.ActionLink("Ajouter un nouveau employee", "FormCustomer", null, new { @class = "btn btn-primary" })</div>
    </div>
</div>
