@model ProjectBusinessCustomer.Models.Society
@{
                /**/

                ViewBag.Title = "FormSociety";
}


<br />
<div class="panel panel-primary">
    <div class="panel-heading">Saisie d'une société</div>
    <div class="panel-body">
        @using (Html.BeginForm("SaveSociety", "Society"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Nom de société:</label>
                        @Html.TextBoxFor(x => x.SocietyName, new { @class = "form-control", @id = "SocietyName" })
                        @Html.ValidationMessageFor(x => x.SocietyName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Social:</label>
                        @Html.TextBoxFor(x => x.CompanySocial, new { @class = "form-control", @id = "CompanySocial" })
                        @Html.ValidationMessageFor(x => x.CompanySocial, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Adresse de la société:</label>
                        @Html.TextBoxFor(x => x.SocietyAddress, new { @class = "form-control", @id = "SocietyAddress" })
                        @Html.ValidationMessageFor(x => x.SocietyAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email de la société:</label>
                        @Html.TextBoxFor(x => x.SocietyEmail, new { @class = "form-control", @id = "SocietyEmail" })
                        @Html.ValidationMessageFor(x => x.SocietyEmail, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Téléphone de la société:</label>
                        @Html.TextBoxFor(x => x.SocietyPhone, new { @class = "form-control", @id = "SocietyPhone" })
                        @Html.ValidationMessageFor(x => x.SocietyPhone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Society Fax:</label>
                        @Html.TextBoxFor(x => x.SocietyFax, new { @class = "form-control", @id = "SocietyFax" })
                        @Html.ValidationMessageFor(x => x.SocietyFax, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Web Site:</label>
                        @Html.TextBoxFor(x => x.WebSite, new { @class = "form-control", @id = "WebSite" })
                        @Html.ValidationMessageFor(x => x.WebSite, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="enregister" id="submit" onclick="success()" />
                    @Html.ActionLink("la liste", "Societies", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function success() {
    if ($('#SocietyName').val() != '' && $('#CompanySocial').val() != '' && $('#SocietyAddress').val() != '' && $('#SocietyPhone').val() != '' && $('#SocietyFax').val() != '' && $('#WebSite').val() != '' )
                                          return alert('Society has been saved');
    }
</script>


